<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">

    <title>Singletary-Herrin Family Archive</title>
</head>
<body>

    <header>
        <h1>Singletary-Herrin Family Archive</h1>

        <p>
            Preserving the history, photographs, records, and stories of the Singletary and Herrin families of southern Georgia and northern Florida. 
        </p>
    </header>

    <nav>
        <a href="index.html">Home</a>
        <a href="#">Family Tree</a>
        <a href="#">Photos</a>
        <a href="#">Stories</a>
        <a href="#">Documents</a>
        <a href="#">Reunions</a>
    </nav>

    <main>

        <h2>Welcome</h2>

        <p>
            Welcome to the Singletary-Herrin Family Archive.
            This site is dedicated to preserving the history, 
            photographs, stories, and memories of the Singletary and Herrin families
            for future generations.
        </p>

        <h2>Explore Our Family History</h2>

        <p>
            Explore the people, photographs, records, and stories preserved
            in the Singletary-Herrin Family Archive.
        </p>

        <div class="family-sections">

            <section class="family-section">
                <h3>Herrin Family</h3>

                 <p>
                    Explore ancestors and family members associated with
                    the Herrin family line.
                </p>

                <a href="herrin-family.html">Explore the Herrin Family →</a>
            </section>


            <section class="family-section">
                <h3>Singletary Family</h3>

                <p>
                    Explore ancestors and family members associated with
                    the Singletary family line.
                </p>

                <a href="singletary-family.html">Explore the Singletary Family →</a>
            </section>


            <section class="family-section">
                <h3>All Family Members</h3>

                <p>
                    Browse everyone currently documented in the
                    Singletary-Herrin Family Archive.
                </p>

                <a href="all-family.html">View All Family Members →</a>
            </section>

        </div>
    </main>

    <footer>
        <p>Singletary-Herrin Family Archive</p>
    </footer>

</body>

</html>





